<%= form_with(model: chatroom, local: true, class: "form-inline mb-5") do |form| %>
  <% if chatroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chatroom.errors.count, "error") %> prohibited this chatroom from being saved:</h2>

      <ul>
      <% chatroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>

      <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
