<p id="notice"><%= notice %></p>

<h1>Chatrooms</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Users</th>
      <th colspan="5">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @chatrooms.each do |chatroom| %>
      <tr>
        <td><%= chatroom.name %></td>
        <td><%= chatroom.users.count %></td>

        <% if chatroom.users.include?(current_user) %>
          <td>
            <%= link_to 'Show', chatroom %>
            <%= link_to 'Edit', edit_chatroom_path(chatroom) %>
            <%= link_to 'Destroy', chatroom, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Leave', chatroom_chatroom_users_path(chatroom), method: :delete %>
          </td>
        <% else %>
          <td>
            <%= link_to 'Join', chatroom_chatroom_users_path(chatroom), method: :post %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatroom', new_chatroom_path %>
